html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

fast-design-system-provider {
    display: block;
}

fast-card {
    padding: 16px;
    display: flex;
    flex-direction: column;
}

h2 {
    font-size: var(--type-ramp-plus-5-font-size);
    line-height: var(--type-ramp-plus-5-line-height);
}

fast-card > fast-button {
    align-self: flex-end;
}

:root {
    --navbar-height:94px;
    --section-height-spacing:100px 0px;
    --section-height-spacing-mobile:50px 0px}

html {    
    font: 16px aktiv-grotesk,Segoe UI,Arial,Helvetica,sans-serif
}

body,html {
    background-color: var(--fill-color);
    box-sizing: border-box;
    overflow-x: hidden;
    scroll-behavior: smooth;
    width: 100%;
    padding: 0;
    margin: 0;
}

body {
    color: var(--neutral-foreground-rest);
    padding: 5px;
}

.body-provider,body {
    background-color: var(--background-color)
}

/* Hiding the icon part and ajusting grid to remove icon. */
.group::part(icon){
    display: none;
}
.group::part(heading){
    grid-template-columns: auto 1fr auto;
}
.group::part(end)
{
    /* Taken from https://github.com/microsoft/fast/blob/906d9c2f42172c7e0c9041e0d6fb07609c83cfbd/packages/web-components/fast-components/src/accordion-item/accordion-item.styles.ts#L47 */
    padding-right: calc((6 + (var(--design-unit) * 2 * var(--density))) * 1px);
}

.title{
    font-weight: bold;
}
